ddl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_field">
		<xs:restriction base="xs:string">
			<xs:enumeration value="id"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="type">
		<xs:complexType>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="int"/>
						<xs:enumeration value="varchar"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="length">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="tables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table"/>
			</xs:sequence>
			<xs:attribute name="collate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="French_CI_AS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="column" maxOccurs="unbounded"/>
				<xs:element ref="pk"/>
			</xs:sequence>
			<xs:attribute name="schema" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="vmp"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="groupDC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pk">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PK_groupDC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="identity">
		<xs:complexType>
			<xs:attribute name="step" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="start" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_field">
					<xs:attribute name="order" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="asc"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="column">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="identity" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="null" use="required" type="xs:boolean"/>
			<xs:attribute name="default">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="def_name"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
